<div class="header-content">
  <div class="header-content-inner">
    <h1 id="homeHeading">Signup</h1>
    <form method="POST" action="/createmyuser">
      <input type="text" name="name">
      <input type="text" name="login">
      <input type="password" name="password">
      <input type="submit" value="submit">
    </form>
  </div>
</div>
