<div class="header-content">
  <div class="header-content-inner">
    <h1 id="homeHeading">Signup</h1>
    <hr>
    <form method="POST" action="/createmyuser">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <div class="input-group">

            <input type="text" class="form-control  text-center" placeholder="Name" name="name">
            <input type="text" class="form-control  text-center" placeholder="Login" name="login">
            <input type="password" class="form-control  text-center" placeholder="Password" name="password">

            <input type="submit" class="btn btn-secondary text-center" value="submit">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
