<div class="container" ng-controller="UserCtrl">
  <div class="jumbotron-onCenter">
    <h1 align="center">Введите имя, логин и пароль пользователя</h1>
    <br>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="Add Name!" required
                   ng-model="user.name">
            <br>
            <input type="text" class="form-control input-lg text-center" placeholder="Add Login!" required
                   ng-model="user.login">
            <br>
            <input type="text" class="form-control input-lg text-center" placeholder="Add Password!" required
                   ng-model="user.password">
            <br>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="addUser()">Add User</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
