<div class="container" ng-controller="LotCtrl">
  <div class="row">
    <div class="form-group">
      <div class="row">
        <div class="col-md-12" align="center">
          <h2>{{user.name}} information</h2>
          <p>{{user.login}}</p>
          <p>{{user.password}}</p>
          <p>{{user.roles}}</p>
          <button ng-click="showForm = true">Add lot for auction?</button>
          <form ng-show="showForm">
            <input type="text" ng-model="lot.type" placeholder="Type of item" required>
            <input type="text" ng-model="lot.name" placeholder="Name of lot" required>
            <input type="number" ng-model="lot.price" placeholder="Price" required>
            <button type="submit" ng-click="addLot()">Add Lot</button>
          </form>
          <table>
            <thead>User Lots </thead>
            <tr>
              <th>name</th>
              <th>price</th>
              <th>startDate</th>
              <th>finishDate</th>
              <th>step</th>
              <th>state</th>
              <th>comments</th>
            </tr>
            <tr ng-repeat="lot in lots">
              <td>{{lot.name}}</td>
              <td>{{lot.price}}</td>
              <td>{{lot.startDate}}</td>
              <td>{{lot.finishDate}}</td>
              <td>{{lot.step}}</td>
              <td>{{lot.state}}</td>
              <td>{{lot.comments}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
